<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ronglian.plaza.uac.mapper.RoleMenuMapper" >

  <resultMap id="BaseResultMap" type="com.ronglian.plaza.common.entity.uac.RoleMenu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="menu_id" property="menuId" jdbcType="INTEGER" />
  </resultMap>

  <select id="findByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * from role_menu where role_id = #{roleId}
  </select>

</mapper>