<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ronglian.plaza.omc.mapper.OrderMasterMapper" >
  <resultMap id="BaseResultMap" type="com.ronglian.plaza.common.entity.omc.OrderMaster" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="buyer_name" property="buyerName" jdbcType="VARCHAR" />
    <result column="buyer_phone" property="buyerPhone" jdbcType="VARCHAR" />
    <result column="buyer_address" property="buyerAddress" jdbcType="VARCHAR" />
    <result column="buyer_openid" property="buyerOpenid" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="pay_status" property="payStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <update id="updateByPrimaryKey" parameterType="com.ronglian.plaza.common.entity.omc.OrderMaster" >
    update order_master
    set buyer_name = #{buyerName,jdbcType=VARCHAR},
      buyer_phone = #{buyerPhone,jdbcType=VARCHAR},
      buyer_address = #{buyerAddress,jdbcType=VARCHAR},
      buyer_openid = #{buyerOpenid,jdbcType=VARCHAR},
      order_amount = #{orderAmount,jdbcType=DECIMAL},
      order_status = #{orderStatus,jdbcType=TINYINT},
      pay_status = #{payStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>

  <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
      SELECT * from order_master WHERE order_id = #{orderId}
  </select>

  <insert id="saveOrderMaster" parameterType="com.ronglian.plaza.common.entity.omc.OrderMaster">
    INSERT INTO order_master (order_id,buyer_name,buyer_phone,buyer_address,buyer_openid,order_amount,order_status,pay_status)
    VALUES (#{orderId},#{buyerName},#{buyerPhone},#{buyerAddress},#{buyerOpenid},#{orderAmount},#{orderStatus},#{payStatus})
  </insert>

  <update id="finish">
      UPDATE order_master SET order_status = #{orderStatus} WHERE order_id = #{orderId}
  </update>

  <select id="list" resultMap="BaseResultMap">
      SELECT * from order_master
  </select>

</mapper>